<ion-view view-title="Individual Chat">
  <ion-content class="padding">

    <ul class="list">
      <li class="item" ng-repeat="message in messages track by $index">
        <h2>{{ message.user }}</h2>
        <p>
          {{ message.text }}
        </p>
      </li>
    </ul>

  </ion-content>
</ion-view>

<ion-footer-bar>
  <form class="item item-input-inset" ng-submit="addMessage()">
    <label class="item-input-wrapper">
      <input type="text" placeholder="type here..." ng-model="newMessage">
    </label>
    <button class="button button-small">
      Send
    </button>
  </form>
</ion-footer-bar>