<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Individual Chat">
  <ion-content class="padding">
    <p ng-repeat="message in messages track by $index">
      {{ message.text }}
    </p>
  </ion-content>
</ion-view>

<ion-footer-bar>

    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="type here..." ng-model="newMessage">
    </label>
    <button class="button button-small" ng-click="addMessage()">
      Send
    </button>
  </div>

</ion-footer-bar>